@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-SemiBold.ttf');
}

.logo {
  position: absolute;
  width : 80px;
  height : 80px;
  top: 53px;
  left: 32px;
}

.textlogo {
  position: absolute;
  top: 64px;
  left: 120px;
}

.texthistory {
  position: absolute;
  top: 200px;
  left: 32px;
}

.newchat{
  background: #FFD698A8;
  color : #FFFFFF;
  width : 178px;
  height : 59px;
  border-radius: 10px;
  position: absolute;
  font-size: 20px;
  top: 250px;
  left: 78px;
  font-family: 'Poppins';
}

.newchat:hover {
  background: #f9dbafa8;
  ;
}

.history{
  background: #851C1280;
  color : #FFFFFF;
  outline-color: white;
  width : 275px;
  height : 58px;
  border-radius: 10px;
  position: absolute;
  font-size: 20px;
  left: 30px;
  font-family: 'Poppins';
}

.history:hover {
  background: #851C12;
}

.textinput {
  position: absolute;
  top: 740px;
  left: 305px;
  width: 1140px;
  height: 50px;
  border-radius: 10px;
  font-size: 40px;
  color: #FFFFFF80;
  background: #FFFFFF80;

}

.radio-style{
  width: 16px;
  height: 16px;
  border-radius: 70%;
  border: 1px solid #000000;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.radio-style::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked + .radio-style::before {
  transform: translate(-50%, -50%) scale(1);
}

.KMP-text {
  position: absolute;
  width: 1170px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Poppins';
  color: #FFFFFF;
}

.BM-text {
  position: absolute;
  width: 1170px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Poppins';
  color: #FFFFFF;
}

.send {
  position: absolute;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Poppins';
  color: #FFFFFF;
  background: #DC4E40;
  left: 1450px;
}